.movies-card {
  margin: 50px 10px 80px 10px;
}

.movies-card__list {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, 300px);
  grid-template-rows: minmax(271px);
  justify-content: center;
  gap: 16px;
  list-style: none;
}

.movies-card__more-btn {
  width: 100%;
  margin: 80px 0 0 0;
  padding: 10px;
  font-size: 12px;
  line-height: 15px;
  font-weight: 500;
  color: var(--color-white);
  background-color: #2F2F2F;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: color .2s ease-out;
}

.movies-card__more-btn:hover {
  color: var(--color-white-hover);
}

.movies-card__loader {
  position: absolute;
  left: 50%;
  top: 50%;
  margin: 0 auto;
  display: block;
  width: 38px;
  height: 38px;
  background-image: url('../../images/logo.svg');
  background-size: 100%;
  background-repeat: no-repeat;
  transform: translateX(-50%);
  animation-duration: .7s;
  animation-name: loaderPulse;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in;
}

@media screen and (min-width: 768px) {
  .movies-card {
    margin: 80px 30px 80px 30px;
  }

  .movies-card__list {
    grid-template-columns: repeat(auto-fit, 342px);
    grid-template-rows: minmax(309px);
    column-gap: 24px;
    row-gap: 35px;
  }
}

@media screen and (min-width: 1280px) {
  .movies-card {
    margin: 80px 0;
    grid-column: 2/3;
  }

  .movies-card__list {
    grid-template-columns: repeat(auto-fit, 360px);
    grid-template-rows: minmax(319px);
    column-gap: 28px;
    row-gap: 32px;
  }

  .movies-card__more-btn {
    margin-top: 60px;
  }
}
