.project {
  margin: 70px 18px 0 18px;
}

.project__list {
  margin: 0;
  padding: 60px 0 0 0;
  display: flex;
  flex-direction: column;
  gap: 56px;
  list-style: none;
}

.project__title {
  margin: 0;
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
  letter-spacing: -0.04em;
}

.project__text {
  margin: 0;
  padding-top: 16px;
  font-size: 11px;
  line-height: 16px;
  font-weight: 400;
}

.project__steps {
  padding: 60px 0 0 0;
  display: grid;
  grid-template-columns: minmax(100px, 1fr) 4fr;
  grid-template-rows: repeat(2, auto);
}

.project__week {
  margin: 0;
  padding: 11px 10px;
  font-size: 11px;
  line-height: 13px;
  font-weight: 400;
  text-align: center;
  background-color: var(--color-gray);
}

.project__week_accent {
  color: var(--color-black);
  background-color: var(--color-green);
}

.project__week-signature {
  margin: 0;
  padding: 10px 0 0 0;
  font-size: 11px;
  line-height: 13px;
  font-weight: 400;
  color: #A0A0A0;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .project {
    margin: 90px 50px;
  }

  .project__list {
    padding-top: 70px;
    flex-direction: row;
    gap: 30px;
  }

  .project__title {
    font-size: 20px;
    line-height: 24px;
  }

  .project__text {
    padding-top: 22px;
    font-size: 12px;
    line-height: 18px;
  }

  .project__steps {
    padding-top: 93px;
  }

  .project__week {
    padding: 9px 10px;
    font-size: 14px;
    line-height: 17px;
  }

  .project__week-signature {
    padding-top: 14px;
    font-size: 14px;
    line-height: 17px;
  }
}

@media screen and (min-width: 1280px) {
  .project {
    margin: 110px auto;
    width: 1140px;
  }

  .project__list {
    gap: 40px;
  }

  .project__text {
    padding-top: 26px;
    font-size: 14px;
    line-height: 20px;
  }

  .project__steps {
    padding-top: 110px;
  }
}
