.student {
  margin: 70px 14px 0 14px;
}

.student__wrapper {
  padding: 60px 0 0 0;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.student__photo {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 352px;
  object-fit: cover;
  border-radius: 10px;
}

.student__column {
  display: block;
}

.student__title {
  margin: 0;
  padding: 0;
  font-size: 30px;
  line-height: 36px;
  font-weight: 400;
  letter-spacing: -0.04em;
}

.student__subtitle {
  margin: 0;
  padding: 20px 0 0 0;
  font-size: 11px;
  line-height: 16px;
  font-weight: 500;
}

.student__text {
  margin: 0;
  padding: 20px 0 0 0;
  font-size: 11px;
  line-height: 16px;
  font-weight: 400;
}

.student__link {
  margin: 0;
  padding: 40px 0 0 0;
  display: block;
  font-size: 14px;
  line-height: 17px;
  font-weight: 500;
  color: var(--color-white);
  text-decoration: none;
  transition: color .2s ease-out;
}

.student__link:hover {
  color: var(--color-white-hover);
}

@media screen and (min-width: 768px) {
  .student {
    margin: 90px 50px 0 50px;
  }

  .student__wrapper {
    padding-top: 66px;
    flex-direction: row-reverse;
    justify-content: space-between;
    gap: 49px;
  }

  .student__photo {
    width: 255px;
    height: 307px;
  }

  .student__column {
    display: grid;
    grid-template-rows: repeat(3, auto) 1fr;
  }

  .student__title {
    font-size: 40px;
    line-height: 40px;
  }

  .student__subtitle {
    padding-top: 16px;
    font-size: 12px;
    line-height: 18px;
  }

  .student__text {
    font-size: 12px;
    line-height: 18px;
  }

  .student__link {
    padding-top: 20px;
    align-self: flex-end;
  }
}

@media screen and (min-width: 1280px) {
  .student {
    margin: 110px 0 0 0;
    grid-column: 2/3;
  }

  .student__wrapper {
    gap: 270px;
  }

  .student__photo {
    width: 270px;
    height: 327px;
  }

  .student__title {
    font-size: 50px;
    line-height: 58px;
  }

  .student__subtitle {
    padding-top: 18px;
    font-size: 18px;
    line-height: 20px;
  }

  .student__text {
    padding-top: 26px;
    font-size: 14px;
    line-height: 22px;
  }
}
