.page {
  box-sizing: border-box;
  position: relative;
  width: 100%;
  color: var(--color-white);
  font-family: 'Inter', Arial, sans-serif;
  font-weight: 400;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  background-color: var(--color-dark-main);
}

.layout {
  display: grid;
}

@media screen and (min-width: 1280px) {
  .layout {
    min-height: 100%;
    grid-template-columns: minmax(20px, 1fr) 1140px minmax(20px, 1fr);
  }
}
