.auth-form {
  margin: 42px 30px 30px 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.auth-form__title {
  margin: 50px 0 0 0;
  font-size: 24px;
  line-height: 29px;
  font-weight: 500;
}

.auth-form__form {
  margin: 80px 0 0 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}

.auth-form__input-row {
  display: flex;
  flex-direction: column;
}

.auth-form__input-label {
  font-size: 10px;
  line-height: 12px;
  font-weight: 400;
  color: #8B8B8B;
}

.auth-form__input {
  margin-top: 10px;
  padding: 15px;
  font-size: 13px;
  line-height: 16px;
  font-weight: 400;
  color: var(--color-white);
  background-color: #2F2F2F;
  border: none;
  border-radius: 8px;
}

.auth-form__input:focus {
  outline: 1px solid var(--color-white);
  outline-offset: -1px;
}

.auth-form__wrapper {
  margin: auto 0 0 0;
  width: 100%;
}

.auth-form__submit-btn {
  padding: 15px;
  width: 100%;
  font-size: 12px;
  line-height: 15px;
  font-weight: 500;
  color: var(--color-white);
  background-color: var(--color-blue);
  border: none;
  border-radius: 3px;
  text-align: center;
}

.auth-form__transition {
  margin-top: 14px;
  display: flex;
  justify-content: center;
  gap: 7px;
}

.auth-form__transition-text {
  margin: 0;
  font-size: 12px;
  line-height: 15px;
  font-weight: 400;
  color: #8B8B8B;
}

.auth-form__transition-link {
  font-size: 12px;
  line-height: 15px;
  font-weight: 400;
  color: var(--color-blue);
  text-decoration: none;
}

@media screen and (min-width: 768px) {
  .auth-form {
    width: 396px;
    margin: 40px auto 40px auto;
    justify-content: center;
    align-items: flex-start;
  }

  .auth-form__title {
    margin-top: 40px;
  }

  .auth-form__form {
    margin-top: 40px;
    display: grid;
    grid-template-rows: repeat(3, 68px);
  }

  .auth-form__wrapper {
    margin-top: 69px;
  }

  .auth-form__submit-btn {
    font-size: 14px;
    line-height: 17px;
  }
}

@media screen and (min-width: 1280px) {
  .auth-form {
    grid-column: 2/3;
  }
}
