.portfolio {
  margin: 70px 14px 138px 14px;
}

.portfolio__title {
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: #A0A0A0;
}

.portfolio__list {
  margin: 0;
  padding: 20px 0 0 0;
  list-style: none;
}

.portfolio__link {
  position: relative;
  display: block;
  padding: 20px 0;
  width: 100%;
  font-size: 18px;
  line-height: 28px;
  font-weight: 400;
  letter-spacing: -0.04em;
  color: var(--color-white);
  text-decoration: none;
}

.portfolio__link::before {
  content: '';
  top: 0;
  right: 0;
  position: absolute;
  width: 12px;
  height: 68px;
  background-image: url('../../../images/arrow.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.portfolio__link::after {
  content: '';
  left: 0;
  bottom: 0;
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: var(--color-white);
}

@media screen and (min-width: 768px) {
  .portfolio {
    margin: 90px 50px 148px 50px;
  }

  .portfolio__title {
    font-size: 18px;
  }

  .portfolio__list {
    padding-top: 30px;
  }

  .portfolio__link {
    font-size: 28px;
    line-height: 50px;
  }

  .portfolio__link::before {
    width: 17px;
    height: 90px;
  }
}

@media screen and (min-width: 1280px) {
  .portfolio {
    margin: 100px 0 184px 0;
    grid-column: 2/3;
  }

  .portfolio__link {
    font-size: 30px;
  }

  .portfolio__link::before {
    width: 19px;
  }
}
