.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 14px 18px;
}

.header__logo {
  width: 38px;
  height: 38px;
  background-color: inherit;
  border: none;
  background-image: url('../../images/logo.svg');
  background-size: cover;
  background-repeat: no-repeat;
  cursor: pointer;
}

.header__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: block;
  background-color: rgba(0, 0, 0, .3);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.4s ease-out;
}

.header__overlay_active {
  opacity: 1;
  visibility: visible;
}

.header__burger {
  padding: 0;
  position: relative;
  display: block;
  width: 22px;
  height: 22px;
  border: none;
  background-color: inherit;
  cursor: pointer;
  z-index: 3;
}

.header__burger-inner {
  position: absolute;
  top: 9px;
  left: 0;
  height: 3px;
  width: 22px;
  background-color: var(--color-white);
  transition: transform .2s ease;
}

.header__burger-inner_active {
  transform: rotate(135deg) scaleX(120%);
}

.header__burger-inner::before {
  content: '';
  position: absolute;
  top: -8px;
  left: 0;
  height: 3px;
  width: 22px;
  background-color: var(--color-white);
  transition: transform .2s ease;
}

.header__burger-inner_active::before {
  transform: rotate(90deg) translateX(8px) scaleX(120%);
}

.header__burger-inner::after {
  content: '';
  position: absolute;
  top: 8px;
  left: 0;
  height: 3px;
  width: 100%;
  background-color: var(--color-white);
  transition: transform .1s ease;
}

.header__burger-inner_active::after {
  transform: translateY(-8px);
}

.header__entrance {
  display: flex;
  align-items: center;
  gap: 14px;
}

.header__link {
  color: var(--color-white);
  font-size: 10px;
  font-weight: 500;
  text-decoration: none;
}

.header__button {
  padding: 5px 12px;
  color: var(--color-black);
  background-color: var(--color-green);
  border: none;
  border-radius: 3px;
  font-size: 10px;
  font-weight: 500;
  line-height: 16px;
  text-decoration: none;
}


@media screen and (min-width: 768px) {
  .header {
    padding: 18px 30px;
  }

  .header__link {
    font-size: 12px;
  }
}

@media screen and (min-width: 992px) {
  .header__overlay {
    display: none;
  }

  .header__burger {
    display: none;
  }
}

@media screen and (min-width: 1280px) {
  .header {
    padding: 18px 0;
    grid-column: 2/3;
  }
}
