.search-form {
  margin: 60px 10px 0 10px;
  display: flex;
  flex-direction: column;
}

.search-form::after {
  content: '';
  height: 1px;
  width: 100%;
  background-color: #aaaaaa33
}

.search-form__wrapper {
  position: relative;
  display: flex;
}

.search-form__wrapper_short-film {
  justify-content: center;
  padding: 37px 0 56px 0;
  gap: 13px;
}

.search-form__input {
  margin: 0;
  padding: 14px 15px;
  width: 100%;
  font-size: 11px;
  line-height: 18px;
  font-weight: 400;
  color: var(--color-white);
  border: 1.5px solid rgba(170, 170, 170, .2);
  background-color: inherit;
  border-radius: 50px;
  transition: border .2s ease-out;
}

.search-form__input:focus {
  outline: none;
  border: 1.5px solid var(--color-white);
}

.search-form__submit-btn {
  position: absolute;
  top: 7px;
  right: 7px;
  margin: 0;
  padding: 8px 10px;
  font-size: 11px;
  line-height: 18px;
  font-weight: 500;
  color: var(--color-white);
  background-color: var(--color-blue);
  border: none;
  border-radius: 50px;
}

.search-form__short-film-text {
  margin: 0;
  font-size: 11px;
  line-height: 18px;
  font-weight: 400;
}

.search-form__checkbox {
  height: 0;
  width: 0;
  visibility: hidden;
}

.search-form__checkbox-label {
  position: relative;
  display: block;
  width: 36px;
  height: 20px;
  background-color: #EBEBEB;
  border-radius: 20px;
  cursor: pointer;
}

.search-form__checkbox-label:after {
  content: '';
  position: absolute;
  top: 2px;
  left: 2px;
  width: 16px;
  height: 16px;
  background: var(--color-white);
  border-radius: 50%;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.08);
  transition: left .2s ease-out, transform .2s ease-out;
}

.search-form__checkbox:checked + .search-form__checkbox-label {
  background: var(--color-green);
}

.search-form__checkbox:checked + .search-form__checkbox-label:after {
  left: calc(100% - 2px);
  transform: translateX(-100%);
}
