@import url('./vendor/normalize.css');
@import url('./vendor/fonts/fonts.css');
@import url('./vendor/variables.css');

@import url('./components/App/App.css');

@import url('./components/Header/Header.css');
@import url('./components/Navigation/Navigation.css');

@import url('./components/Main/Promo/Promo.css');
@import url('./components/Main/SectionTitle/SectionTitle.css');
@import url('./components/Main/Project/Project.css');
@import url('./components/Main/Techo/Techno.css');
@import url('./components/Main/Student/Student.css');
@import url('./components/Main/Portfolio/Portfolio.css');

@import url('./components/SearchForm/SearchForm.css');
@import url('./components/MoviesCardList/MoviesCardList.css');

@import url('./components/Footer/Footer.css');
